<!-- start header -->
<header>
  <!-- start navigation -->
  <nav
    class="navbar navbar-expand-lg header-transparent bg-transparent border-bottom border-color-transparent-white-light disable-fixed"
  >
    <div
      class="container-fluid d-flex justify-content-between align-items-center"
    >
      <!-- Logo -->
      <div class="col-auto col-lg-2 d-flex align-items-center">
        <a class="navbar-brand" href="index.html">
          <img src="images/Logo White.png" alt="" class="default-logo" />
          <img src="images/Logo Black.png" alt="" class="alt-logo" />
          <img src="images/Logomark Black.png" alt="" class="mobile-logo" />
        </a>
      </div>
      <!-- Navbar Links (Centered on large screens) -->
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarNav"
      >
        <ul
          class="navbar-nav alt-font d-flex flex-nowrap justify-content-center"
        >
          <li class="nav-item">
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="about.html" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="services.html" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a href="contact.html" class="nav-link">Contact</a>
          </li>
          <li class="nav-item d-lg-none">
            <a href="login.html" class="nav-link">Login</a>
          </li>
        </ul>
      </div>
      <!-- Call to Action (Phone) on large screens -->
      <div class="col-auto d-none d-lg-flex text-end align-items-center">
        <div class="header-button">
          <a href="login.html" class="btn btn-white btn-round-edge me-2" style="padding: 6px 25px; white-space: nowrap;">Login</a>
        </div>
      </div>

      <!-- Mobile Nav Toggle Button (visible on small screens) -->
      <div class="col-auto d-lg-none">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
        </button>
      </div>
    </div>
  </nav>
  <!-- end navigation -->
</header>
<!-- end header --> 